/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* МАКЕТ
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* { margin:0; padding:0; }
body {font-family:museosanscyrl300,arial, helvetica, sans-serif;font-size:14px;line-height:1.3em;}
body.editor{background:white;padding:10px;}
.clear{clear: both;}
.center{text-align: center;}
.v1{cursor:pointer;}
.v2{cursor:pointer;}

        /* ОБЩИЕ ЭЛЕМЕНТЫ */
        a{color: #0058b3;;text-decoration:underline;cursor: pointer;}
        a:hover{color: #0058b3;;text-decoration:underline;}
        .link{color:#007e9f;text-decoration:none;cursor:pointer;}
        .link:hover{text-decoration:underline;}

        h1{margin:0;color: #3c3c3c;}
h2{padding:110px 0 50px 0;font-size:40px;text-align:center;font-family:museosanscyrl500,arial, helvetica, sans-serif;font-weight:normal;}
p{margin:0 0 5px 0;padding:0;font-size:inherit;line-height:inherit;}
img{border:none;}
        .b-white{background:white;}
strong{font-weight:normal;font-family:museosanscyrl700,arial, helvetica, sans-serif;}


/* плавное изменение прозрачности  placeholder-а при фокусе */
input[type="text"]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}        
        

/* СТРУКТУРА САЙТА */
body{color: #000000;font-size: 14px;margin:0;padding:0;}


div.page_section{position:relative;width:100%;}
div.page_section > div.inner{width:1117px;margin:0 auto;position:relative;}
div.page_section div.h3{text-align:center;font-size:22px;font-family:museosanscyrl100,arial, helvetica, sans-serif;line-height:1.3em;}
div.page_section div.h3.bold{text-align:center;font-size:22px;font-family:museosanscyrl300,arial, helvetica, sans-serif;line-height:1.3em;}
div.page_section div.h3 strong{font-family:museosanscyrl500,arial, helvetica, sans-serif;}


div.panel_request{text-align:center;font-size:20px;font-family:museosanscyrl300,arial, helvetica, sans-serif;color:white;background:#35a7d2;_border:1px solid white;padding:5px;}
div.panel_request div{margin:16px 0 0 0;padding:0 0 10px 0;}
div.panel_request input[type="text"]{width: 364px;  min-height: 46px;  line-height:1em;  color: #7F7F7F;  text-align: center;  font-family: museosanscyrl300,arial, helvetica, sans-serif;;  font-size: 20px; padding: 6px;}
div.panel_request input[type="submit"]{width: 364px;  min-height: 69px;  line-height:1em;  color:white;  text-align: center;  font-family: museosanscyrl300,arial, helvetica, sans-serif;;  font-size: 22px;   padding: 6px;background: transparent;}

div.panel_request.small{font-size:17px;font-family:museosanscyrl500,arial, helvetica, sans-serif;}
div.panel_request.small input[type="text"]{width: 242px;  height: 50px;padding:5px;font-size:17px;}
div.panel_request.small input[type="submit"]{width: 248px;;border:3px solid white;font-size:17px;min-height:0;height:52px;}
div.panel_request.small button.small{width: 150px;;border:1px solid white;font-size:14px;min-height:0;height:30px;}
div.panel_request.small div{padding:4px 0 0 0;}
div.panel_request.small div.comment{font-size:14px;}

div#request_message_create_success{margin-top:20px;}


div#block_top{height:61px;position:relative;width:100%;background:#f6f6f6;border-bottom:1px solid #ebe6e4;}
div#block_top{color:#4E4040;}
div#block_top div#panel_01_01{width:250px;height:41px;margin:0 auto;padding:20px 0 0 0;text-align:center;border-left:1px solid  #ebe6e4;border-right:1px solid  #ebe6e4;background:white;  color:black;font-family:museosanscyrl100,arial, helvetica, sans-serif;font-size:35px;}
div#block_top div#panel_01_01 strong{font-family:museosanscyrl500,arial, helvetica, sans-serif;font-size:35px;font-weight:normal;}
div#block_top div#panel_01_02{position:absolute;left:0;top:14px;font-size:20px;line-height:31px;font-family:museosanscyrl300,arial, helvetica, sans-serif;color:black;}
div#block_top div#panel_01_02 strong{font-family:museosanscyrl700,arial, helvetica, sans-serif;font-weight: normal;}
div#block_top div#panel_01_02 strong.v2{text-decoration:underline;}
div#block_top div#panel_01_03{position:absolute;right:200px;text-align:center;top:10px;font-size:14px;line-height:20px;font-family:museosanscyrl300,arial, helvetica, sans-serif;color:black;}
div#block_top div#panel_01_03 strong{font-size:18px;line-height:24px;font-family:museosanscyrl500,arial, helvetica, sans-serif;color:black;}
div#block_top div#panel_01_04{position:absolute;right:0;text-align:center;top:10px;font-size:14px;line-height:20px;font-family:museosanscyrl300,arial, helvetica, sans-serif;color:black;}
div#block_top div#panel_01_04 strong{font-size:18px;line-height:24px;font-family:museosanscyrl500,arial, helvetica, sans-serif;color:black;}


div#block_02{height:822px;position:relative;width:100%;background-repeat:no-repeat;background-position:center center;  background-size: cover;color:#4E4040;}
div#block_02 div#panel_02_01{font-family:'Gotham Pro Bold',arial, helvetica, sans-serif;font-size:44px;line-height:48px;padding-top:107px;}
div#block_02 div#panel_02_02{font-family:museosanscyrl300,arial, helvetica, sans-serif;font-size:32px;line-height:38px;}
div#block_02 div#panel_02_03{position:absolute;top:330px;left:0;font-family:museosanscyrl300,arial, helvetica, sans-serif;font-size:39px;line-height:45px;}
div#block_02 div#panel_02_03 strong{font-family:'Gotham Pro Bold',arial, helvetica, sans-serif;font-size:65px;line-height:70px;}
div#block_02 div#panel_02_03 button{border:3px solid white;width:445px;min-height:75px;font-size:24px;margin:10px 0;font-family:museosanscyrl500,arial, helvetica, sans-serif}
div#block_02 div#panel_02_03 button:hover{border:3px solid #35a7d2;}
div#block_02 div#panel_02_03 div.count{margin-top:32px;font-size:16px;text-align:center;font-family:museosanscyrl700,arial, helvetica, sans-serif;color:black;}
div#block_02 div#panel_02_03 div.count span{border:1px solid black;padding:10px;font-family:museosanscyrl300,arial, helvetica, sans-serif;margin-left:10px;}


div#block_03{position:relative;width:100%;background:#169acb;}
div#block_03 div.inner{padding:36px 0;}
div#block_03 table{width:100%;font-family:museosanscyrl100,arial, helvetica, sans-serif;;font-size:22px;line-height:1.3em;border-collapse:collapse;table-layout: fixed;;; }
div#block_03 table td{padding:0 22px;color:white;text-align:center;}
div#block_03 table td:nth-child(2){border-left:2px solid #60badb;border-right:2px solid #60badb;}
div#block_03 table tr:nth-child(1) td{font-family:museosanscyrl500,arial, helvetica, sans-serif;;font-size:22px;vertical-align:middle;}
div#block_03 table tr:nth-child(2) td{font-size: 50px;  line-height: 60px;}
div#block_03 table tr:nth-child(2) td strong{;font-size:102px;line-height:1.2em;}
div#block_03 table tr:nth-child(3) td{vertical-align:top;}


div#block_04{min-height:824px;position:relative;width:100%;;}
div#block_04 div#panel_04_01{width:1078px;height:480px;position:relative;margin:55px auto 0 auto;overflow:hidden;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro{width:10000px;height:480px;position:absolute;left:0;top:0;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item{float:left;width:1078px;height:480px;position:relative;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item table{width:100%;table-layout:fixed;border-collapse:collapse;font-size:17px;line-height:1.2em;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item table p{font-size:16px;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item table td:last-child{width:auto;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item table td:last-child{width:367px;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item h3{font-family:museosanscyrl700,arial, helvetica, sans-serif;font-size: 23px; line-height: 31px; font-weight:normal;margin:0 0 10px 0;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item div.button{margin-top:50px;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item div.button button{width:364px;min-height:60px;height:60px;}
div#block_04 div#panel_04_01 div.list_art_table_img_name_intro div.item div.button button:hover{width:358px;height:54px;border:3px solid #35a7d2;}
div#block_04 div#panel_04_02{width:1078px;height:150px;position:relative;margin:20px auto 10px auto;}
div#block_04 div#panel_04_02 div.list_art_img{width:1078px;height:150px;}
div#block_04 div#panel_04_02 div.list_art_img div.item{float:left;width:200px;height:150px;position:relative;margin:0 7px;cursor:pointer;}


div#block_05{min-height:824px;position:relative;width:100%;background-repeat:no-repeat;background-position:center center;  background-size: cover;;}
div#block_05 div#panel_05_02{width:400px;height:337px;position:relative;margin:0 auto;}
div#block_05 div.circle{position:absolute;top:0;left:0;width: 398px;  height: 400px;border: 2px solid white;opacity: 0.87; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";  filter: alpha(opacity=87);  border-radius: 500px;background:#35a7d2;z-index:1;}
div#block_05 div.panel_request{width: 398px;  height: 335px;padding:65px 0 0 0;margin:85px auto 0 auto;font-size:17px;border:none;background:none;z-index:2;position:relative;}
div#block_05 div.panel_request input[type="text"]{width: 239px;  min-height: 35px;  color: #7F7F7F;  text-align: center;  font-size: 17px;  font-weight: 200;  padding: 6px;  }
div#block_05 div.panel_request input[type="submit"]{min-height: 49px;  width: 253px;font-size:17px;border:2px solid white;}


#block_06{position:relative;width:100%;}
div#block_06 table{width:1020px;border-right:3px solid #aaaaaa;border-bottom:3px solid #aaaaaa;margin:50px auto 30px auto;font-family:'Gotham Pro Medium',arial, helvetica, sans-serif;line-height:1.3em;font-size:14px;border-collapse:collapse;table-layout: fixed;border-radius:3px;;; }
div#block_06 table td{padding-bottom:20px;vertical-align:bottom;height:110px;text-align:center;border:1px solid #aaaaaa;cursor:pointer;;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #F8F8F8));
    background: -webkit-linear-gradient(top,#FFFFFF ,#F8F8F8 100%);
    background: linear-gradient(to bottom,#FFFFFF ,#F8F8F8 100%);
}
div#block_06 table td div{width:100%;height:110px;background-position:center center;background-repeat:no-repeat;}
div#block_06 table td.active,
div#block_06 table td:hover{
    background: -webkit-gradient(linear, center top, center bottom, from(#E8E8E8),color-stop(100%, #FDFDFD));
    background: -webkit-linear-gradient(top,#E8E8E8 ,#FDFDFD 100%);
    background: linear-gradient(to bottom,#E8E8E8 ,#FDFDFD 100%);
}
div#block_06 div#panel_06_02{width:1020px;height:286px;position: relative;margin:0 auto;}
div#block_06 div#panel_06_02 div.item{width:100%;height:286px;background-size: cover;position: absolute;top:0;left:0;opacity:0;}
div#block_06 div#panel_06_02 div.item.active{opacity:1;}
div#block_06 div#panel_06_02 div.item div.info{position:absolute;top:0;left:0;width:440px;height:226px;padding:30px;background:#169acb;color:white;font-size:17px;}
div#block_06 div#panel_06_02 div.item div.info p{font-size:17px;}
div#block_06 div#panel_06_02 div.item div.info h3{font-family:museosanscyrl500,arial, helvetica, sans-serif;font-size:20px;margin:0 0 25px 0;}
div#block_06 div#panel_06_02 div.item div.info div.upper{font-family:museosanscyrl500,arial, helvetica, sans-serif;font-size:20px;margin:25px 0 0 0;}


div#block_07 table{width:100%;border:1px solid #d6d0d2;margin:100px 0 100px 0;font-family:'Gotham Pro Medium',arial, helvetica, sans-serif;line-height:1.3em;border-collapse:collapse;table-layout: fixed;;; }
div#block_07 table td{padding:0 22px;border-left:1px solid #d6d0d2;border-right:1px solid #d6d0d2;}
div#block_07 table tr:nth-child(1) td{height:46px;background:url('/images/back_01.png') no-repeat center bottom;font-family:'Gotham Pro',arial, helvetica, sans-serif;}
div#block_07 table tr:nth-child(1) td > div{width:112px;position:relative;top:-35px;background:white;margin:0 auto;}
div#block_07 table tr:nth-child(1) td > div > div{width: 71px;height:42px;padding-top:29px;margin:0 auto;;  border: 1px solid #169ACB;  border-radius: 200px;  text-align: center;  font-size: 44px;  position: relative; }
div#block_07 table tr:nth-child(2) td{font-size:14px;text-align:center;padding-top:70px;vertical-align:top;background-position:center top;background-repeat:no-repeat;}
div#block_07 table tr:nth-child(3) td{height:50px;background:url('/images/back_01.png') no-repeat center center;}
div#block_07 table tr:nth-child(4) td{font-size:14px;text-align:center;padding-top:70px;padding-bottom:40px;vertical-align:top;background-position:center top;background-repeat:no-repeat;}


div#block_08{background:#FAFAFA;min-height:845px;}
div#block_08 div#panel_08_02{text-align:center;margin:30px 0 0 0;font-family:museosanscyrl500,arial, helvetica, sans-serif;font-size:20px;}
div#block_08 div#panel_08_03{float:left;width:540px;}
div#block_08 div#panel_08_04{float:right;width:473px;border:6px solid #35a7d2;margin-top:60px;}
div#block_08 div#panel_08_04 div.panel_request{}
div#block_08 div#panel_08_04 div.panel_request div.count{
    width: 51px;
    min-height: 29px;
    border:1px solid white;
    background-color: transparent;
    line-height: 1em;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    font-family:'Gotham Pro',arial, helvetica, sans-serif;;
    font-weight: 300;
    margin:0 auto;
    padding:15px 0 10px 0;
}


div#block_09{border-bottom:1px solid #f6f6f6;}
div#block_09 div.inner{height:900px;}
div#block_09 div#panel_09_01{margin:60px 0 0 560px;width:527px;}
div#block_09 div#panel_09_01 div.item{margin-bottom:67px;padding-left:85px;min-height:75px;font-size:17px;line-height:24px;font-family:museosanscyrl300,arial, helvetica, sans-serif;background-position:left center;background-repeat:no-repeat;}
div#block_09 div#panel_09_01 div.item strong{font-size:22px;line-height:31px;font-family:museosanscyrl500,arial, helvetica, sans-serif;}


div#block_10{}
div#block_10 div#block_10_1{margin:0 0 30px 0;}
div#block_10 div#block_10_1 div.item h2{background:#f6f6f6 url('/images/open.png') no-repeat right center;;text-align:left;padding:25px 0 25px 48px;font-size:30px;font-family:museosanscyrl300,arial, helvetica, sans-serif;border-bottom:1px solid #c4c4c4;cursor:pointer;}
div#block_10 div#block_10_1 div.item div.list_images_highslide{margin:20px 0 0 20px;display:none;}
div#block_10 div#block_10_1 div.item h2.open + div.list_images_highslide{display:block;}
div#block_10 div#block_10_1 div.list_images_highslide div.item{float:left;margin:0 0 15px 19px;}



div#block_11{border-bottom:1px solid #F6F6F6;min-height: 1023px;background-color: #F6F6F6;}
div#block_11 table{width:100%;border-collapse:collapse;table-layout: fixed;margin-top:60px;;; }
div#block_11 table td{text-align:center;vertical-align:middle;}


div#block_12{height:588px;border-top:1px solid #169acb;border-bottom:1px solid #169acb;}
div#block_12 div#map_canvas{width:100%;height:588px;position:absolute;left:0;top:0;}
div#block_12 div#panel_12_01{width:387px;height:588px;position:absolute;top:0;left:0;border-left:1px solid #169acb;border-right:1px solid #169acb;background:white;color:#169ACB;text-align:center;
    font-size: 20px; line-height: 24px;font-family:museosanscyrl300,arial, helvetica, sans-serif;
}
div#block_12 div#panel_12_01 strong{font-family:museosanscyrl500,arial, helvetica, sans-serif;font-size: 26px; line-height: 31px; font-weight:normal;}
div#block_12 div#panel_12_01 small{font-size: 16px;}
div#block_12 div#panel_12_01 h2{font-family:museosanscyrl300,arial, helvetica, sans-serif;padding:50px 0 0px 0;}
div#block_12 div#panel_12_01 div.hr{width:40px;margin:35px auto 23px auto;border-top:1px solid #169acb;height:1px;}


div#block_bottom{height:61px;background:#f6f6f6;font-size:22px;line-height:31px;font-family:museosanscyrl300,arial, helvetica, sans-serif;}
div#block_bottom strong{font-family:museosanscyrl700,arial, helvetica, sans-serif;font-weight: normal;}
div#block_bottom strong.v2{text-decoration:underline;}
div#block_bottom div#panel_13_01{position:absolute;left:0;top:14px;}
div#block_bottom div#panel_13_02{position:absolute;right:0;top:14px;}
div#block_bottom div#panel_13_02{position:absolute;right:0;top:14px;}










