div#panel_banner{position:relative;width:1100px;height:226px;}
div#panel_banner > div.item{position:absolute;top:0;left:0;opacity:0;display:none;}
div#panel_banner > div.item.sel{opacity:1;display:block;}
div#panel_banner > div.item div.manual{position:absolute;bottom:0;width:660px;background: rgba(255, 255, 255, 0.7);padding:5px 20px 10px 20px;color:black;font-size:11px;}
div#panel_banner > div.item div.manual p{margin:0;padding:0;}

div#panel_banner > div.status{position:absolute;bottom:10px;right:10px;text-align:right;}
div#panel_banner > div.status div.item{position:relative;float:left;width:15px;height:15px;background:url('images/slider_nav.png') no-repeat 0 -15px;margin-right:9px;cursor:pointer;}
div#panel_banner > div.status div.item.sel{background-position:0 0;}