div#panel_setting_fonts{margin-top:40px;}
div#panel_setting_fonts > div.inner{margin:0 10px;}
div#panel_setting_fonts div#font_setting{margin:10px 0;}
div#panel_setting_fonts div#font_setting input[name="font_size"]{width:20px;}
div#panel_setting_fonts div#font_setting input[name="test_text"]{width:600px;}

div#panel_setting_fonts div#panel_setting_fonts_view_uploads div.item{position:relative;padding-top:30px;}
div#panel_setting_fonts div#panel_setting_fonts_view_uploads div.item div.file_name{position:absolute;top:0;right:0;}
div#panel_setting_fonts div#panel_setting_fonts_view_uploads div.item div.subitem{border: 1px solid #BBB;margin: 0 3px 10px 0;background: #FFF;position: relative;position: relative;white-space: nowrap;overflow: visible;padding: 40px 0 40px 20px;-moz-box-shadow: 0 1px 1px #e1e1e1;-webkit-box-shadow: 0 1px 1px #EEE;-o-box-shadow: 0 1px 1px #eee;box-shadow: 0 1px 1px #EEE;}
div#panel_setting_fonts div#panel_setting_fonts_view_uploads div.item div.subitem div.font_name{position:absolute;bottom:10px;left:25px;font-weight:bold;color:black;}
div#panel_setting_fonts div#panel_setting_fonts_view_uploads div.item div.subitem div.select_tag{position:absolute;bottom:10px;right:25px;color:black;}

div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts {padding-top:1px;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item{border: 1px solid #BBB;margin:40px 3px 10px 0;background: #FFF;position: relative;position: relative;white-space: nowrap;overflow: visible;padding: 40px 0 40px 20px;-moz-box-shadow: 0 1px 1px #e1e1e1;-webkit-box-shadow: 0 1px 1px #EEE;-o-box-shadow: 0 1px 1px #eee;box-shadow: 0 1px 1px #EEE;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.tag_name{position:absolute;top:-30px;left:0;font-size:20px;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.file_name{position:absolute;top:0;right:25px;font-weight:bold;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.file_name input{width:300px;font-size:11px;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.font_name{position:absolute;bottom:10px;left:25px;font-weight:bold;color:black;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.select_size{position:absolute;bottom:5px;right:25px;color:black;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.select_size input[name=font_size]{width:20px;}
div#panel_setting_fonts div#panel_setting_fonts_view_saved_fonts div.item div.select_size input[name=font_color]{width:60px;}

