@font-face {    font-family: 'gothaprobol';    src: url('gothaprobol.eot');    src: url('gothaprobol.eot?#iefix') format('embedded-opentype'),         url('gothaprobol.woff') format('woff'),         url('gothaprobol.ttf') format('truetype'),         url('gothaprobol.svg#gotham_probold') format('svg');    font-weight: normal;    font-style: normal;}
@font-face {    font-family: 'gothampromedium';    src: url('gothampromedium.eot');    src: url('gothampromedium.eot?#iefix') format('embedded-opentype'),         url('gothampromedium.woff') format('woff'),         url('gothampromedium.ttf') format('truetype'),         url('gothampromedium.svg#GothamPro-Medium') format('svg');    font-weight: normal;    font-style: normal;}
