/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
/*========================= global ===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'DinPro';
  background-color: #EEF6FA;
}

h2 {color: red}

.action {position: absolute;top:97px;left:131px;font-weight:bolder;line-height: 14px}
.snoska {position: absolute;top:148px;left:151px;font-weight:lighter;}
/*/!* =============== ВСПЛЫВАЮЩИЕ ОКНА ======================= ===================*/




div.panel_request{text-align:center;font-size:20px;font-family:museosanscyrl300,arial, helvetica, sans-serif;color:white;background:#35a7d2;_border:1px solid white;padding:5px;}
div.panel_request div{margin:16px 0 0 0;padding:0 0 10px 0;}
div.panel_request input[type="text"]{width: 364px;  min-height: 46px;  line-height:1em;  color: #7F7F7F;  text-align: center;  font-family: museosanscyrl300,arial, helvetica, sans-serif;;  font-size: 20px; padding: 6px;}
div.panel_request input[type="submit"]{width: 364px;  min-height: 69px;  line-height:1em;  color:white;  text-align: center;  font-family: museosanscyrl300,arial, helvetica, sans-serif;;  font-size: 22px;   padding: 6px;background: transparent;}

div.panel_request.small{font-size:17px;font-family:museosanscyrl500,arial, helvetica, sans-serif;}
div.panel_request.small input[type="text"]{width: 242px;  height: 50px;padding:5px;font-size:17px;}
div.panel_request.small input[type="submit"]{width: 248px;;border:3px solid white;font-size:17px;min-height:0;height:52px;}
div.panel_request.small submit.small{width: 150px;;border:1px solid white;font-size:14px;min-height:0;height:30px;}
div.panel_request.small div{padding:4px 0 0 0;}
div.panel_request.small div.comment{font-size:14px;}

div#request_message_create_success{margin-top:20px;}

/*
============================================================ POP-UP============
/////////////////////////////////////////////////////////////////////////////*/


#panel_path {margin: 10px 0}
#panel_path a{color: #A2A2A2;; text-decoration: none;}
#panel_path a:hover{color: #000000;}

#block_header {  width: 100%;     height: 540px;position: relative}


#block_main_menu {margin: 0 auto; background: #2d2d2d; box-shadow: inset -1px -5px 0 -1px #393939; height: 52px; border-bottom: 5px solid #35A7D2;}

#block_main_menu .inner{width:980px;margin: 0 auto}
#block_main_menu.fixed {position:fixed;top:0; left:0;width:100%;z-index: 10}
#block_main_menu .item.index {background:#ff0000 url("/template/img/home.png") no-repeat 10px 12px; width:52px;height: 52px;margin: -5px 0 0 0; border: none; }
#block_main_menu .item.index:hover {background-position: 10px -39px }
#block_main_menu .item:hover {text-decoration: underline}
#block_main_menu .item { display: block;   height: 42px;float: left;
    position: relative;
    line-height: 42px;
    color: #ddd;
    padding: 0 7px;
    border: 1px solid #383838;
    border-width: 0 0 0 1px;
    text-decoration: none;
}



div#block_main {}
div#block_main .inner{ width: 980px; margin: 0 auto;padding-bottom: 20px}
div#block_main .inner h1{ font-size: 33px; margin: 8px 0}


div.logo {width: 78px;height: 90px;position: absolute;top: 10px;left:0;}

#block_01 h2{text-align: center;color:white}
#block_01 h3{text-align: center;color:white}
#block_01 table{width: auto;cellspacing:0;margin-left: 450px;}
#block_01 tr{position: relative;}
#block_01 td{position: relative;border-right:1px solid  rgba(230, 230, 247, 0.48);padding-left: 10px;height: 68px; line-height: 68px;text-align: center}
#block_01 td{border: none;border-bottom: 1px solid #5197BD; border-right:1px solid #5197BD;}
#block_01 td.th{height: 45px; line-height: 15px;text-align: center}
#block_01 tr:nth-child(4) td{border-bottom: none}
#block_01 td:nth-child(4){border-right: none }
#block_01 td div.sales {position: absolute;top:0;left:0;border-radius: 5px 0 0 0;background: url("/images/marker_sales.png") no-repeat;width: 78px;height:78px;overflow: hidden }
#block_01 td div.sales span{position: absolute;top:-3px;left:-20px;display:block;width: 103px;text-align: center;font-size: 22px;color:white;font-family: 'PT Sans Narrow Bold', arial, sans-serif;
    -moz-transform: rotate(-45deg); /* Для Firefox */
    -ms-transform: rotate(-45deg); /* Для IE */
    -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-45deg); /* Для Opera */
    transform: rotate(-45deg);}



.how-we-make {background : white;             width : 100%; border-bottom: 4px solid #13a0e6;border-left : none;border-right : none }
#block_02 {width: 100%;   border-bottom: 4px solid #DDDDDD; margin-top: 30px }
.cont-we-make {}





#block_02 p{margin-bottom: 0}
.galerey_wrap {padding-top:0}
.galerey_wrap ul {margin: 0;padding: 0;list-style: none;text-align: center}
.galerey_wrap li {display : inline-block; margin: 0 1px;padding: 0;}
.galerey_wrap li a{display : inline-block; height: 300px}
.galerey_wrap li a:hover{cursor: zoom-in}

#block_11 .galerey_wrap {padding-top:0}
#block_11 .galerey_wrap ul {margin: 0;padding: 0;list-style: none;text-align: center}
#block_11 .galerey_wrap li {display : inline-block; margin:10px;padding: 0;}
#block_11 .galerey_wrap li a{display : inline-block;height:142px}
#block_11 .galerey_wrap li a:hover{cursor: zoom-in}

#block_11 #panel_11_02  .panel_request {width: 400px;}




div#block_12{height:590px;border-top:1px solid #0d76d2;border-bottom:1px solid #0d76d2;position: relative}
div#block_12 .inner {    width: 960px;    margin: 0 auto;     position: relative;     padding-bottom: 61px; }
div#block_12 div#map_canvas{width:100%;height:588px;position:absolute;left:0;top:0;}
div#block_12 div#panel_12_01{width:387px;height:588px;position:absolute;top:0;left:0;border-left:1px solid #0d76d2;border-right:1px solid #0d76d2;background:white;color: #0b3071;text-align:center;
    font-size: 20px; line-height: 24px;font-family:museosanscyrl300,arial, helvetica, sans-serif; }
div#block_12 div#panel_12_01 strong{font-family:museosanscyrl500,arial, helvetica, sans-serif;font-size: 26px; line-height: 31px; font-weight:normal;}
div#block_12 div#panel_12_01 small{font-size: 16px;}
div#block_12 div#panel_12_01 h2{font-family:museosanscyrl300,arial, helvetica, sans-serif;padding:50px 0 0 0;background: none;color:  #0b3071;    font-size: 35px;    text-align: center}
div#block_12 div#panel_12_01 a{color: #0b3071; text-decoration: none;}
div#block_12 div#panel_12_01 div.hr{width:40px;margin:35px auto 23px auto;border-top:1px solid  #53a5d2;height:1px;}

div#block_13 .text{}
div#block_13 .text ul li{ margin-left: 20px;}
div#block_13 #totalinfo ul li{ margin-left: 50px;}
div#block_13 #totalinfo p{ margin-top:8px;}
div#block_13 #msg { color:red;font-size: 16px}

div#block_footer .inner {    width: 960px;       margin: 0 auto;    position: relative;height: 40px }
div#block_footer .inner #panel_14_01 {    width: 320px;       position: absolute; top:0;left:0;text-align: left;line-height: 40px; }
div#block_footer .inner #panel_14_02 {    width: 320px;       position: absolute; top:0;left:320px;text-align: center ;line-height: 40px;}
div#block_footer .inner #panel_14_03 {    width: 320px;       position: absolute; top:0;left:640px ; text-align: right;line-height: 40px;}
div#block_footer .inner #ya {    width: 320px;       position: absolute; top:4px;right:0; text-align: right;line-height: 40px;}



/*заказ звонка верхняя*/
.overlay-zvonokt {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-zvonokt:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonokt {              
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10;
 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup-form {
  background: url(../img/background/form.jpg);
  width: 2000px;
  height: 168px;
  margin: 15px 0 15px 0;
  padding-top: 17px;
  border: 4px solid #fff;
}
.wind-zakaz-top {
padding: 10px 15px 0 15px;
height: 130px;
width: 1000px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.wind-zakaz-top p {
  text-align: center;
  font-size: 30px;  
}

.wind-zakaz-top input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.wind-zakaz-top form{
  margin-top: 11px;
}

.wind-zakaz-top input[type="text"] {
  margin-top: 7px;
}

.wind-zakaz-top input:focus {
outline: 0;
}

.wind-zakaz-top input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.wind-zakaz-top input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.wind-zakaz-top input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.wind-zakaz-top input[type="submit"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  outline: none;
}
.wind-zakaz-top input[type="submit"]:focus{
  outline: none;
}
.wind-zakaz-top input[type="submit"]:hover{
  background: #00D2F2;
}

.wind-zakaz-top input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
  outline: none;
}

.overlay-zvonokt:target+.popup-zvonokt {    
    opacity: 1;
    visibility: visible;
}
.rel-pos {
  position: relative;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
/* Кнопка закрытия окна  */
.close {        
height: 24px;
line-height: 24px;
position: absolute;
right: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
top: 17px;
width: 24px;
border-radius: 15px;
z-index: 15;   
}
.close:before {
    color: #81A2C1;
    content: "X";
    font-size: 22px;
    font-family: arial;
}
/* =============================== END ===============================                      
//////////////////////////////////|||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\
=============================CONTENS ========== CONTENS ============= CONTENS */


#baner_galerey  {padding-top: 20px}
.contain {
  position : relative;
  width: 980px;
  margin: 0 auto;
}

.header-cont {
  
}

.rectangle1 {
  width: 482px;
  height: 77px;
  background: url(../img/background/rectangle1.png) no-repeat;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 9px 0 0 15px;
  font-weight: bold;
  vertical-align: top;
}

.rectangle1 a {text-decoration: none;color:white}
.call-him {
  float: right;
  text-align: right;
  line-height: 1.1;  
  height: 100px;
}

.call-him span{
  font-weight: bold;
}

.p-register1 {
  font-size: 12px;  
}

.number {
  font-size: 35px;
}
.number_2 {
  font-size: 20px;
  line-height: 24px;
  color:white;
  margin: 5px 0;
  padding-right: 2px;
background: red}
.number_2 span{  display: block;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background:-moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

.link-to-modal {
  color: #fff;
  text-decoration: none;
  display: block;
  background: url(../img/background/rectangle2.png) no-repeat; 
  width: 258px;
  height: 28px; 
  float: right;
  font-size: 17px;
  padding: 4px 10px 0 0;
  margin-top: 5px;
    cursor: pointer;
}

.fform {
  position: absolute;
  right:14px;
  top:171px;
width: 345px;
height: 340px;
  padding: 10px;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.fform p:first-child{  
  font-size: 25px;
  font-weight: bold;
}

.fform p {
  text-align: center;
  font-size: 20px;  
}

.fform input {
  padding-left: 30px;  
  
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 264px;
  margin: 0 0 10px 10px;
  font-size: 16px;
}

.fform input:focus {
outline: 0;
}

.fform input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;
  margin-top: 20px; 
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform input[type="submit"]{
  cursor: pointer;  
  width: 306px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.wind-zakaz-top input[type="submit"]:focus{
  outline: none;
}

.fform input[type="submit"]:hover{
  background: #00D2F2;
}

.fform input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-top: 3px;
  height: 47px;  
}


.size24 {
  font-size: 24px;
}

.size20 {
  font-size: 20px;
}



.inline {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.pad-15 {
  padding-bottom: 15px;
}

.my-title {
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

.my-title-tab {
  font-size: 35px;
  text-align: center;
}


.certificates {  
  width: 980px;
  height: 197px;
  margin-top: 15px;
}

.form {
  background: url(../img/background/form.jpg);
  width: 100%;
  height: 168px;
  margin: 15px 0 15px 0;
  padding-top: 17px;
}
.copy-form {
  display: inline-block;
}

.fform-inline {
padding: 10px 15px 0 15px;
height: 130px;
width: 1000px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.fform-inline p {
  text-align: center;
  font-size: 30px;  
}

.fform-inline input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.fform-inline form{
  margin-top: 11px;
}

.fform-inline input[type="text"] {
  margin-top: 7px;
}

.fform-inline input:focus {
outline: 0;
}

.fform-inline input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform-inline input[type="submit"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.fform-inline input[type="submit"]:hover{
  background: #00D2F2;
}

.fform-inline input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
}

.wind-zakaz-top input[type="submit"]:focus{
  outline: none;
}

.priminenie {
  width: 980px;

}

.no {
  width: 465px;
  display: inline-block;
  vertical-align: top;
}

.yes {
  width: 465px;
  display: inline-block;
  vertical-align: top;
}

.title2 {
  text-align: left;
  font-size: 28px;
}

.yes-no li{
  font-size: 18px;
  padding-left: 8px;
    color: rgba(53, 53, 53, 0.81);;
}

.yes-no li:hover {color: rgba(53, 53, 53, 1);;}

.yes-no span{
  font-weight: bold;   color:#000000;
}

.no li{
  background: url(../img/li-no.png) no-repeat top left;
  list-style: none;
  padding: 0 0 0 45px;
  margin-top: 25px;  
}

.yes li{
  background: url(../img/li-yes.png) no-repeat top left;
  list-style: none;
  padding: 0 0 0 45px;
  margin-top: 25px;  
}

.n-left {
  float: left;
  text-align: left;    
}

.n-right {
  float: right;
  text-align: right;    
}

.bold {
  font-weight: bold;
}

.preim {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 10px;
  font-size: 18px;  
}

.paragraph {
  width: 840px;
}

td {
  width: 195px;
  text-align: center;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
  padding: 5px 0 5px 0;
  font-size: 18px;
}

.table-row td:last-child{
  color: #F3564F;
  border-right: none;
}

.table-row td:nth-child(2) {
  color: #00C5F3;
}

.table-row td:nth-child(1) {
  text-align: left;
  border-left: none;
}

.table-top td{
  font-weight: bold;
  text-align: center;
  border-top: none;
}

table {
  cellspacing: 0;
}

.table-bottom td{
  border-bottom: none;
}

.black {
  color: #000;
}

.one-rewiv {
  width: 460px;
  margin: 15px 8px 10px 8px;
  display: inline-block;
  vertical-align: top;  
}

.text-reviw {  
  width: 460px;
  height: 245px;  
  background: #00BFF2;
  border-radius: 5px;
  padding: 25px;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.text-reviw:after{
content: "«»";
width: 40px;
height: 40px;
position: absolute;
top: -20px;
left: 210px;
border-radius: 25px;
background-color: #464646;
padding: 5px 0 0 10px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-bo
}
.commentator {
  text-align: left;
  padding-left: 8px;
  font-size: 19px;
}

.rewivs {
  padding-top: 15px;
}

.production{
  margin-top: 15px;
  margin: 0 auto;
  display: block;
}

.plan {
  display: inline-block;
  width: 185px;
  padding-top: 185px;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
}
.inline-footer {
  display: inline-block;
  width: 390px;
  height: 20px;
  vertical-align: middle;  
}

.inline-footer img{
  vertical-align: middle;
  padding-bottom: 7px;
}
.footer {
  padding-top: 8px;
  position: absolute;
  padding-bottom: 8px;
}


.walet-feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.walet-feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff;
}
.walet-feedbackf img:last-child{
  margin-right: 0;
}
/* window */
.walet-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.walet-overlay:target {
    visibility: visible;
    opacity: 1;
}
/* =========== ФОРМА ============= 
================================== */
.walet-popup {          
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.walet-feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.walet-feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff; 
}
.walet-overlay:target+.walet-popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
/* Кнопка закрытия окна  */
.walet-closef {      
  line-height: 24px;
  position: absolute;
  right: 48%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: arial;
  top: -16px;
  width: 32px;
  height: 32px;
  margin-top: -1px;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
     border-radius: 15px;  
     background: url(../img/close.png);  
}
.walet-closef:before {
    color: #747474;
    content: "";    
    font-size: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    line-height: 0.5;
    padding-top: -3px;
}
.walet-popup p, .popup div {
    margin-bottom: 10px;
}/*window*/

.certificates {
  text-align: center;
  height: 350px;
}
.certificates a{
  padding: 5px;
}
