
/* reset browser defaults */

input, textarea, button, select {
	margin: 0;
	outline: none; 
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
}

/* transitions */

input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea,
div.select,
button {
	-webkit-transition: .1s linear border;
	-moz-transition: .1s linear border;
	-ms-transition: .1s linear border;
	-o-transition: .1s linear border;
	transition: .1s linear border;
}

/* textfield, textarea, checkboxes, select */

textarea {
	font-family: inherit;
}

input[type="text"],
input[type="password"],
textarea,
div.select {
	position: relative;
	background: #fff;
	padding: 8px;
	border: none;
	font-size: 15px;
	line-height: normal;
	color: #606060;
	resize: none;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="checkbox"]:hover,
textarea:hover,
div.select:hover {
	border-color: #b5b5b5;
}

input[type="text"].input_error::-webkit-input-placeholder {color:#c0392b;}
input[type="text"].input_error::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
input[type="text"].input_error:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
input[type="text"].input_error:-ms-input-placeholder      {color:#c0392b;}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
div.select.select_focus {
	border-color: #8ccfff;
	box-shadow: 0 0 5px #8ccfff, inset 0 0 2px rgba(0, 0, 0, 0.12);
}

/* required elements */

input[type="text"].input_required,
input[type="password"].input_required,
textarea.input_required {
	background-image: url(/class/ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png);
	background-position: right -44px;
	background-repeat: no-repeat;
}

div.select.input_required:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	right: 21px;
	width: 3px;
	height: 3px;
	background: url(/class/ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png) -277px -47px no-repeat;
}

input[data-required-hidden],
textarea[data-required-hidden],
div.select[data-required-hidden]:after {
	background-image: none !important;
}

/* placeholders */

.placeholder {
	white-space: nowrap;
	cursor: text;
	color: #b0b0b0;
}

.placeholder_focus {
	color: #c5c5c5;
}

::-webkit-input-placeholder {
    color: #b0b0b0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #b0b0b0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b0b0b0;
}

/* checkboxes: webkit browsers */

input[type="checkbox"],
input[type="radio"] {
	-webkit-appearance: none;
	font-size: 0;
	line-height: 0;
	padding: 0;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border: 1px solid #d0d0d0;
	background-color: #fff;
	position: relative;
	vertical-align: bottom;
	border-radius: 2px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
}

input[type="checkbox"]:active,
input[type="radio"]:active {
	border-color: #8ccfff;
	background-color: #f0f9ff;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after
{
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: 1px;
	width: 13px;
	height: 11px;
	background: url(/class/ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png) 0px 0px no-repeat;
}

span.checkbox,
label.checkbox {
	cursor: pointer;
	padding-left: 8px;
	line-height: 0px;
}

/* buttons */

button,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
	position: relative;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	height: 29px;
	padding: 0 15px;

	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
}

button * {
	cursor: pointer;
	pointer-events: none;
}

button.button_small,
input[type="button"].button_small,
input[type="submit"].button_small {
	height: 25px;
	font-size: 11px;
	padding: 0px 10px;

}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26) !important;
}

button:active > *:first-child {
	position: relative;
	top: 1px;
}

x:-o-prefocus, button:active *:first-child {
	position: static !important;
}

button[disabled],
input[type="button"][disabled],
input[type="submit"][disabled] {
	padding-top: 0px !important;
	cursor: default !important;
	border: 1px solid #d9d9d9 !important;
	color: #cacaca !important;
	text-shadow: 0 1px 1px #fdfdfd !important;
	box-shadow: none !important;
	background-color: #ececec !important;
	background-image: -webkit-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: -moz-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: -ms-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: -o-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#f9f9f9,EndColorStr=#e4e4e4) !important;
}

button.button_loading,
input[type="button"].button_loading,
input[type="submit"].button_loading {
	color: #d9d9d9 !important;
	text-shadow: 0 1px 1px #fefefe !important;
}
button.button_loading:after,
input[type="button"].button_loading:after,
input[type="submit"].button_loading:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-left: -8px;
	margin-top: -8px;
	background: url(/class/ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Spinner.gif) no-repeat;
}

/* gray button */

button,
input[type="button"],
input[type="submit"] {
	color: #707070;
	border: 1px solid #ccc;
	border-bottom: 1px solid #c0c0c0;
	background-color: #ececec;
	background-image: -webkit-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: -moz-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: -ms-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: -o-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: linear-gradient(top,#fbfbfb,#e4e4e4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fbfbfb,EndColorStr=#e4e4e4);
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	border: 1px solid #b5b5b5;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.07);
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
	border: 1px solid #a0a0a0;
	border-bottom: 1px solid #cacaca;
	background: #e5e5e5;
}

/* green button */

button.button_green,
input[type="button"].button_green,
input[type="submit"].button_green {
	color: #fff;
	text-shadow: 0 -1px 1px #779a35;
	border: 1px solid #779a35;
	border-bottom: 1px solid #708542;
	background-color: #83af31;
	background-image: -webkit-linear-gradient(top,#a9d05b,#77a423);
	background-image: -moz-linear-gradient(top,#a9d05b,#77a423);
	background-image: -ms-linear-gradient(top,#a9d05b,#77a423);
	background-image: -o-linear-gradient(top,#a9d05b,#77a423);
	background-image: linear-gradient(top,#a9d05b,#77a423);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#a9d05b,EndColorStr=#77a423);
}

button.button_green:hover,
input[type="button"].button_green:hover,
input[type="submit"].button_green:hover {
	border: 1px solid #577027;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}

button.button_green:active,
input[type="button"].button_green:active,
input[type="submit"].button_green:active {
	border: 1px solid #6c8c30;
	border-bottom: 1px solid #779a35;
	background: #84af31;
}

/* yellow button */

button.button_yellow,
input[type="button"].button_yellow,
input[type="submit"].button_yellow {
	color: black;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffcc00) );
   background: -moz-linear-gradient( center top, #ffec64 5%, #ffcc00 100% );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffcc00');
   background-color: #ffec64;
   -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
   border: 1px solid #ffaa22;
}

button.button_yellow:hover,
input[type="button"].button_yellow:hover,
input[type="submit"].button_yellow:hover {
	border: 1px solid #c27e00;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}

button.button_yellow:active,
input[type="button"].button_yellow:active,
input[type="submit"].button_yellow:active {
	border: 1px solid #e09100;
	border-bottom: 1px solid #ed9e09;
	background: #ffb215;
}

/* blue button */

button.button_blue,
input[type="button"].button_blue,
input[type="submit"].button_blue {
   color: white;
   background: #35a7d2;
   width: 379px;
   border: 1px solid white;
   min-height: 69px;
   font-size:20px;
}

button.button_blue:hover,
input[type="button"].button_blue:hover,
input[type="submit"].button_blue:hover {  background: white;  color:#35a7d2;transition: background 0.3s ease;  }

button.button_blue:active,
input[type="button"].button_blue:active,
input[type="submit"].button_blue:active {  background: white;  color:#35a7d2; transition: background 0.3s ease; }


button.button_white,
input[type="button"].button_white,
input[type="submit"].button_white {
   color: #35a7d2;
   background: white;
   width: 379px;
   border: 1px solid #35a7d2;
   min-height: 69px;
   font-size:20px;
}

button.button_white:hover,
input[type="button"].button_white:hover,
input[type="submit"].button_white:hover {  background: #35a7d2;  color:white;transition: background 0.3s ease;  }

button.button_white:active,
input[type="button"].button_white:active,
input[type="submit"].button_white:active {  background: #35a7d2;  color:white; transition: background 0.3s ease; }

/* disable text-selecting */

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
