*{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
table {table-layout:auto;border-collapse:collapse;empty-cells:show;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
table tr.header{background:#CCCCCC;color:black;font-weight:bold;font-size:12px;}
table td{padding:5px;border:1px solid #EBEBEB;}
a { text-decoration : none; }
a:hover { text-decoration : underline; color : #000000; }
.center{text-align:center;}
.left{text-align:left;}