

#project_content div.carusel{width:982px;;height:166px;position:relative;overflow:hidden;}
#project_content div.content{width:10000px;height:166px;position:relative;}
#project_content div.to_prev{width:30px;height:54px;position:absolute;top:45px;left:-30px;background:url('img/to_prev4.png') no-repeat ;cursor:pointer;}
#project_content div.to_next{width:30px;height:54px;position:absolute;top:45px;right:-30px;background:url('img/to_next4.png') no-repeat;cursor:pointer;}
#project_content div.to_prev:hover{}
#project_content div.to_next:hover{}
#project_content .item{width:190px;height:142px;margin: 0 7px 0 0;text-align:center;background:white;float:left;position:relative;}
#project_content .item:first-child{}




