div.panel_request table{table-layout:fixed;border-collapse:collapse;margin:10px auto 0 auto;}
div.panel_request table col#c1{width:100px;}
div.panel_request table col#c2{width:300px;}
div.panel_request table td{vertical-align:middle;font-size:13px;font-style:italic;}
div.panel_request table td input[type=text]{width:300px;height:30px;margin:3px 0;}
div.panel_request table td input.checkcode{width:100px;}
div.panel_request table td img.checkcode{position:relative;top:8px;}
div.panel_request table td textarea{width:430px;height:80px;margin:3px 0;padding:5px;font-size:14px;}
div.panel_request table td strong{color:black;}
div.panel_request table td span{color:red;}
div.panel_request table td.buttons{text-align:center;}
div.panel_request table td.center{text-align:center;}
div.panel_request table td.right{vertical-align:top;padding:10px 14px 0 0;}
div.panel_request table td.right.no_top{padding-top:0;}
div.panel_request table td.align_top{vertical-align:top;padding-top:10px;}
div.panel_request table tr.head.small h2{margin-bottom:0;}
