/*
div.slider div.selector{height:81px;width:100%;position:relative;background:url('images/back_20.png') repeat-x left 21px;margin:0;padding:0;}
div.slider div.selector div{width:11px;height:24px;background:url('images/back_21.png') no-repeat;position:absolute;top:19px;cursor:pointer;}
div.slider div.selector div span{width:32px;height:12px;position:absolute;top:-20px;left:-10px;text-align:center;color:white;font-size:9px;}
div.slider div.selector div.from{left:20px;display:none;}
div.slider div.selector div.to{right:20px;;display:none;}
div.slider div.selector div.marked{height:9px;width:100%;background:url('images/back_22.png') repeat-x;position:absolute;top:21px;left:0;padding:0;}
div.slider div.graf{height:34px;width:115px;background:url('images/back_23.png') no-repeat;position:absolute;bottom:16px;left:1px;}
div.slider div.graf div.sel_area{height:34px;width:115px;background:url('images/back_24.png') repeat;position:absolute;top:0;left:0;}
div.slider div.graf div.maska{height:34px;width:115px;background:url('images/back_25.png') repeat;position:absolute;top:0;left:0;}
*/
div.slider{height:60px;position:relative;}
div.slider div.inputs{text-align:center;}
div.slider div.selector{height:81px;width:170px;position:relative;background:url('images3/selector.png') repeat-x left 21px;margin:0;padding:0;}
div.slider div.selector div{width:22px;height:11px;background:url('images3/marker.png') no-repeat;position:absolute;top:19px;cursor:pointer;}
div.slider div.selector div span{width:32px;height:12px;position:absolute;top:-20px;left:-10px;text-align:center;color:black;font-size:9px;}
div.slider div.selector div.from{left:20px;display:none;}
div.slider div.selector div.to{right:20px;;display:none;}
div.slider div.selector div.marked{height:9px;width:100%;background:url('images3/sel_area.png') repeat-x;position:absolute;top:21px;left:0;padding:0;}
div.slider div.slider_start_value{position:absolute;bottom:0;left:0;color:#c6c6c6;}
div.slider div.slider_end_value{position:absolute;bottom:0;right:0;color:#c6c6c6;}


div.slider.input_text div.selector{background-position:left 14px;}
div.slider.input_text div.selector div.marked{top:14px;}
div.slider.input_text div.selector div.marker_from{top:11px;}
div.slider.input_text div.selector div.marker_to{top:11px;}
div.slider.input_text div.selector div{top:14px;}
div.slider.input_text div.selector div span{display:none;}
div.slider.input_text div.selector div span{display:none;}
div.slider.input_text div.slider_start_value{display:none;}
div.slider.input_text div.slider_end_value{display:none;}
div.slider.input_text input[type="text"]{width:44px;padding:3px 5px;font-size:11px;text-align:right;}

