
#head_fund,#head_sten,#head_perek,#head_fasad,#head_krov,#head_kv,#br_m{background-position: center bottom;background-repeat: no-repeat;height: 25px;width: 434px;display: inline-block;}
#head_fund{background-image:url("/images/fund.png");}
#head_sten{background-image:url("../images/sten.png");}
#head_perek{background-image:url("../images/perek.png");}
#head_fasad{background-image:url("../images/fasad.png");}
#head_krov{background-image:url("../images/krov.png");}
#head_kv{background-image:url("../images/br_m.png");}
#br_m{background-image:url("../images/br_b.png");width:616px;}
#t_result{text-align:left;display:none;}
#kvdr{font-family: verdana;font-size: 15px;font-weight: 700;margin-left: 2px;margin-right: 5px;width: 42px;}
#kvdr_txt{font-family: verdana;font-size: 15px;font-weight: 700;}
#fund_monol,#fund_rost,#fund_cok,#fund_lent,#sten_kirp,#sten_blok,#sten_keram,#sten_peno,#perek_der,#perek_mnog,#perek_monol,#fasad_kirp,#fasad_sht,#fasad_tep,#fasad_bez,#krov_metal,#krov_komp,#krov_soft{background-image: url("../images/icons.jpg");background-repeat: no-repeat;display: inline-block;height: 135px;margin-left: 4px;margin-right: 2px;margin-top: 5px;width: 103px;cursor:pointer;}
#fund_monol{background-position: -1px -281px;}
#fund_rost{background-position: -103px -281px;}
#fund_cok{background-position: -206px -281px;}
#fund_lent{background-position: -309px -281px;}
#sten_kirp{background-position: -412px -281px;}
#sten_blok{background-position: -515px -281px;}
#sten_keram{background-position: -618px -281px;}
#sten_peno{background-position: -722px -281px;}
#perek_der{background-position: -825px -281px;}
#perek_mnog{background-position: -928px -281px;}
#perek_monol{background-position: -1031px -281px;}
#fasad_kirp{background-position: -1134px -281px;}
#fasad_sht{background-position: -1237px -281px;}
#fasad_tep{background-position: -1340px -281px;}
#fasad_bez{background-position: -1780px -281px;}
#krov_metal{background-position: -1454px -281px;width: 108px;margin-left: -5px;}
#krov_komp{background-position: -1571px -281px;}
#krov_soft{background-position: -1677px -281px;}
#fund_monol.m_h{background-position: -1px -141px;}
#fund_rost.m_h{background-position: -103px -141px;}
#fund_cok.m_h{background-position: -206px -141px;}
#fund_lent.m_h{background-position: -309px -141px;}
#sten_kirp.m_h{background-position: -412px -141px;}
#sten_blok.m_h{background-position: -515px -141px;}
#sten_keram.m_h{background-position: -618px -141px;}
#sten_peno.m_h{background-position: -722px -141px;}
#perek_der.m_h{background-position: -825px -141px;}
#perek_mnog.m_h{background-position: -928px -141px;}
#perek_monol.m_h{background-position: -1031px -141px;}
#fasad_kirp.m_h{background-position: -1134px -141px;}
#fasad_sht.m_h{background-position: -1237px -141px;}
#fasad_tep.m_h{background-position: -1340px -141px;}
#fasad_bez.m_h{background-position: -1780px -141px;}
#krov_metal.m_h{background-position: -1454px -141px;width: 108px;margin-left: -5px;}
#krov_komp.m_h{background-position: -1571px -141px;}
#krov_soft.m_h{background-position: -1677px -141px;}
#fund_monol.m_s{background-position: -1px -1px;}
#fund_rost.m_s{background-position: -103px -1px;}
#fund_cok.m_s{background-position: -206px -1px;}
#fund_lent.m_s{background-position: -309px -1px;}
#sten_kirp.m_s{background-position: -412px -1px;}
#sten_blok.m_s{background-position: -515px -1px;}
#sten_keram.m_s{background-position: -618px -1px;}
#sten_peno.m_s{background-position: -722px -1px;}
#perek_der.m_s{background-position: -825px -1px;}
#perek_mnog.m_s{background-position: -928px -1px;}
#perek_monol.m_s{background-position: -1031px -1px;}
#fasad_kirp.m_s{background-position: -1134px -1px;}
#fasad_sht.m_s{background-position: -1237px -1px;}
#fasad_tep.m_s{background-position: -1340px -1px;}
#fasad_bez.m_s{background-position: -1780px -1px;}
#krov_metal.m_s{background-position: -1454px -1px;width: 108px;margin-left: -5px;}
#krov_komp.m_s{background-position: -1571px -1px;}
#krov_soft.m_s{background-position: -1677px -1px;}
div#shShutter{opacity: 0.8 !important;}



#calculator {
width:930px;
}

#calculator h2 {
text-align:center;
font:700 26px/40px DinPro;
margin:30px 0;
}

#calculator h3 {
text-align:center;
font:700 22px/40px DinPro;
margin:30px 0;
}

#calculator h4 {
text-align:center;
font: 500 20px/40px DinPro;
margin:0 0 10px;
}

#calculator h4 small {
font:italic 500 12px/20px DinPro;
margin-left:30px;
}

#calk_meter {
display:inline-block;
background:#fff;
width:50px;
text-align:center;
box-shadow:0 0 0 2px #efdaa6;
font:500 20px/30px DinPro;
border:none;
margin:0 10px;
padding:0 10px;
}

#msg,#msg div, #totalinfo {
margin:20px;
}

#text .parameter {
border-bottom:1px solid rgba(18, 141, 197, 0.32);
box-shadow:0 2px 4px -4px rgba(0,0,0,.3);
padding:5px 0px 15px 0px;
}

#text .parameter ul {
text-align:center;
width:100%;
}

#text .parameter ul li {
padding:0;
background:none;
display:inline-block;
vertical-align:top;
width:125px;
height:160px;
font:500 12px/16px DinPro;
cursor:pointer;
}

.parameter ul li div {
display:none;
}

.parameter ul li div.visual {
display:inline-block;
border-radius:10px;
overflow:hidden;
width:100px;
height:100px;
margin:0 auto 10px;
box-shadow:0 0 0 2px rgba(18, 141, 197,.2);
}

.parameter ul li img {
opacity:.4;
    border-radius: 10px;
}

.parameter ul li.active div.visual img {
opacity:1;
}

.parameter ul li.active div.visual,.parameter ul li.active:hover div.visual {
box-shadow:0 0 0 4px #090, 0 0 16px 0 rgba(0,0,0,.5);
}

.parameter ul li:hover div.visual {
box-shadow:0 0 0 4px #090, 0 0 16px 0 rgba(0,0,0,.2);
}

.parameter ul li:hover img {
opacity:.7;
}

input.error {
box-shadow:0 0 0 4px red!important;
}

sup {
display:inline-block;
top:-5px;
position:relative;
}

#total { font-size:20px; font-family:arial; color:#277804;}
#total_metr { font-size:34px; font-family:arial; color: #ed0000;}

